@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 4px;
  font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    
    background: transparent;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    transition: all 0.3s ease;



}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('https://img.freepik.com/free-vector/realistic-style-technology-particle-background_23-2148426704.jpg') no-repeat;
    background-size: cover;
    background-position: center;
  }
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

.login-box {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
    margin: 20px;
    box-sizing:content-box;
    position: relative;
    transition: all 0.3s ease;
    font-size: 1rem;
    font-weight: 400;
    animation: slideIn 0.5s ease-in-out;
    animation: fadeIn 0.5s ease-in-out;
    
}

.login-box h2 {
    text-align: center;
    color: #333;
    margin-bottom: 1.5rem;
    
}
.login-box h1 {
    font-size: 46px;
    text-align: center;
    margin-bottom: 20px;
  }
.login-box p {
    font-size: 16px;
    margin-bottom: 30px;
    line-height: 1.5;

  }
.form-group {
    position: relative;
  width: 100%;
  margin-bottom: 25px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-size: 25px;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 500;
    transition: color 0.3s ease;
    
}

.form-group input,
.form-group select {
    width: 100%;
    border: 2px solid rgba(255, 255, 255, 0.2);
    outline: none;
    transition: border-color 0.3s ease;
    padding: 0.75rem;
    color : #02ff0e;
    border: 1px solid #ddd;
    border-radius: 40px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.form-group input:focus,
.form-group select:focus {
    outline: none;
    border-color: #4a90e2;
}

.login-button {
    width: 100%;
    padding: 0.75rem;
    height: 45px;
    background-color: #4a90e2;
    color: white;
    border: none;
    outline: none;
    border-radius: 40px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #000000;
}

.login-button:active {
    background-color: #2d6da3;
}

@media (max-width: 480px) {
    .login-box {
        margin: 1rem;
        padding: 1.5rem;
    }
}